/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/* Main */
html,body {
  margin:0;
  padding:0;
  height:100%;
  border:none;
}
table.main{
  height:100%;
  width:100%;
}
td.main-left {
  vertical-align:top;
  background-color:#eee;
  width:180px;
  padding:5px;
}
td.main-right {
  vertical-align:top;
}

/* Common */
.small {font-size:9px;}
fieldset {background:#eee;}
legend {
  color: #fff;
  background: #ffa500;
  padding: 2px;
}


/*smart row*/
.smart_row_over td {color:#00a500;}
.smart_row_click td {color:#ffa500;}

/*fix jquery-ui*/
.ui-state-active {padding:2px;}
.ui-state-default {padding:2px;}

